@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
/* The Modal (background) */
.popup-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3764705882);
  justify-content: center;
  align-items: center;
  top: 10px;
  left: 0;
  z-index: 999;
  cursor: pointer;
  display: none;
}

/* Modal Content/Box */
.popup-contact {
  background-color: #fefefe;
  height: 620px;
  border: 4px solid black;
  overflow: hidden;
  width: 44%; /* Could be more or less, depending on screen size */
  animation: fadein 3s forwards;
}
@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.popup-contact .contact {
  display: flex;
  justify-content: center;
  margin: 0;
  width: 100%;
}

.wpcf7 {
  position: absolute;
  height: 300px;
  padding-top: 110px;
  padding-bottom: 50px;
}

.wpcf7-form-control {
  height: 40px;
  border-radius: 6px;
  border: 1px solid #B8BBC2;
  width: 100%;
}

.input-msg .wpcf7-form-control {
  height: 130px;
  width: 100%;
}

.wpcf7-submit {
  height: 40px;
  width: 100%;
  border-radius: 3px;
}

.borderShadow {
  border-top: 1px solid transparent;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.containerPost {
  margin-top: 40px;
  margin-left: 100px;
  margin-right: 100px;
  /* border-top: 1px solid blueviolet;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px; */
}
.containerPost .post-content {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  width: 100%;
}
.containerPost .post-content .post-meta {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 50%;
  margin-bottom: 6px;
  margin-right: 16px;
  border-bottom: 1px solid black;
}
.containerPost .post-content .post-meta .meta {
  margin-bottom: 10px;
}
.containerPost .post-content .post-meta .date {
  margin-bottom: 45px;
}
.containerPost .post-content .post-title {
  font-size: 40px;
  font-style: italic;
  margin-bottom: 6px;
}
.containerPost .container-img {
  width: 50%;
}
.containerPost .container-img .attachment-large {
  width: 100%;
  height: auto;
}

.containerBtn {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-right: 0;
  height: 118px;
  padding-bottom: 10px;
}
.containerBtn .contact_btn {
  width: 50%;
  margin-top: -40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.containerBtn .contact_btn #contact-button {
  width: 40%;
  height: 50px;
  border-radius: 4px;
  background-color: #D8D8D8;
  border: none;
}
.containerBtn .contact_btn #contact-button:hover {
  background-color: black;
  color: white;
}
.containerBtn .contact_btn .txt-contact {
  text-transform: none;
}
.containerBtn .contact_btn form input {
  padding: 10px 80px;
  cursor: pointer;
}
.containerBtn .post-carousel {
  width: 80px;
}
.containerBtn .carousel-inner {
  width: 50%;
  object-fit: cover;
}
.containerBtn .attachment-thumbnail {
  max-width: none;
  width: 80px;
  height: auto;
}
.containerBtn .carousel-navigation {
  margin-top: -10px;
  display: flex;
  justify-content: space-around;
}
.containerBtn .carousel-navigation .next-arrow {
  font-size: 30px;
}
.containerBtn .carousel-navigation .prev-arrow {
  font-size: 30px;
}

#containerBtn-nav {
  margin-left: 100px;
  margin-right: 100px;
}
#containerBtn-nav .containerBtn {
  border-bottom: 1px solid black;
}

.photoApparente {
  margin-left: 100px;
  margin-right: 100px;
}

.txt {
  margin-right: 100px;
  margin-top: 70px;
  margin-bottom: 50px;
}

.photo-connexe {
  /*  display: flex;
    justify-content: space-between;
  */
  display: grid;
  grid-template-columns: 50% 50%; /* Définit deux colonnes, chacune avec une largeur de 50% */
  gap: 15px;
  flex-wrap: wrap;
}
@media screen and (max-width: 576px) {
  .photo-connexe {
    grid-template-columns: 1fr;
  }
}
.photo-connexe .attachment-large {
  /*   width: 40vw;
    /* La moitié de la largeur du viewport */
  /* La moitié de la largeur du viewport, pour former un carré */
  width: 100%;
  /* La moitié de la largeur du viewport */
  height: 40vw;
  /* La moitié de la largeur du viewport, pour former un carré */
  object-fit: cover;
}

.btn-photo {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 20%;
  display: flex;
  height: 55px;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #D8D8D8;
  border-radius: 4px;
  cursor: pointer;
  text-transform: none;
  text-decoration: none;
  color: black;
}
.btn-photo:hover {
  background-color: black;
  color: white;
}
@media screen and (max-width: 992px) {
  .btn-photo {
    width: 40%;
  }
}
@media screen and (min-width: 320px) and (max-width: 500px) {
  .btn-photo {
    width: 60%;
  }
}

.imageThumbnail img {
  top: 0;
  left: 0;
}

.arrow {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.arrow .prev-arrow {
  text-decoration: none;
  color: black;
  font-size: 30px;
}
.arrow .next-arrow {
  text-decoration: none;
  color: black;
  font-size: 30px;
}

/* .thumbnail-preview {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px; /* Ajustez la taille selon vos besoins */
/* height: auto;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #ddd;
    padding: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    display: none; */
.containerPhoto {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 50px;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 5px;
}
@media screen and (max-width: 576px) {
  .containerPhoto {
    grid-template-columns: 1fr;
    height: auto;
  }
}
.containerPhoto .container-row {
  /* L'espace est soustrait pour prendre en compte l'espacement entre les colonnes */
  /* Ajustez la largeur selon vos préférences */
}
.containerPhoto .attachment-large {
  width: 100%;
  /* La moitié de la largeur du viewport */
  height: 40vw;
  /* La moitié de la largeur du viewport, pour former un carré */
  object-fit: cover;
}

.btn-cont {
  margin-bottom: 40px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
.btn-cont .loadMore {
  width: 20%;
  display: flex;
  height: 50px;
  justify-content: center;
  border: none;
  align-items: center;
  background-color: #D8D8D8;
  border-radius: 4px;
  cursor: pointer;
  text-transform: none;
  text-decoration: none;
  color: black;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}
.btn-cont .loadMore:hover {
  background-color: black;
  color: white;
}
@media screen and (max-width: 992px) {
  .btn-cont .loadMore {
    width: 30%;
  }
}
@media screen and (min-width: 320px) and (max-width: 576px) {
  .btn-cont .loadMore {
    width: 40%;
  }
}

#overlay {
  position: relative;
}

.overlay-effect {
  overflow: hidden; /* Ajout de cette propriété pour empêcher le débordement */
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.overlay-link {
  display: block;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.overlay-link:hover .overlay-effect {
  opacity: 1;
}
.overlay-link:hover .eye-icon {
  display: block;
}
.overlay-link:hover .fullscreen-icon {
  display: block;
}
.overlay-link:hover .text-overlay {
  display: block;
}
.overlay-link img {
  max-width: 100%;
  height: auto;
}
.overlay-link .eye-icon {
  display: none;
  color: white;
  font-size: 100px;
  position: absolute;
  height: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.overlay-link .fullscreen-icon {
  display: none;
  font-size: 50px;
  height: 20px;
  position: absolute;
  top: 5%;
  right: 0;
  transform: translate(-50%, -50%);
}

.text-overlay {
  position: absolute;
  display: none;
  left: 2%;
  bottom: 2%;
  color: white;
}

#container-filter {
  display: flex;
  width: 100%;
  gap: 10px;
}
#container-filter .cat-format {
  display: flex;
  width: 50%;
  justify-content: space-between;
}
@media screen and (max-width: 576px) {
  #container-filter .cat-format {
    display: block;
    width: 100%;
    padding-bottom: 15px;
  }
}
#container-filter .container-date {
  display: flex;
  justify-content: end;
  width: 50%;
}
@media screen and (max-width: 576px) {
  #container-filter .container-date {
    display: block;
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  #container-filter {
    display: block;
  }
}

#format-filter {
  position: relative;
  display: flex;
  width: 45%;
  height: 45px;
  background: #fff;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 8px;
  border: 2px solid #D8D8D8;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
}
#format-filter:hover {
  border: 2px solid blue;
}
@media screen and (max-width: 576px) {
  #format-filter {
    width: 100%;
  }
}
#format-filter option {
  text-transform: uppercase;
  padding-bottom: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
}
#format-filter option:hover {
  background-color: red;
  color: red;
}

#categorie-filter {
  position: relative;
  display: flex;
  width: 45%;
  height: 45px;
  background: #fff;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 8px;
  border: 2px solid #D8D8D8;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
}
#categorie-filter:hover {
  border: 2px solid blue;
}
@media screen and (max-width: 576px) {
  #categorie-filter {
    width: 100%;
  }
}
#categorie-filter option {
  text-transform: uppercase;
  padding-bottom: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
}

#sort-filter {
  position: relative;
  display: flex;
  width: 45%;
  height: 45px;
  background: #fff;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 8px;
  border: 2px solid #D8D8D8;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
}
#sort-filter:hover {
  border: 2px solid blue;
}
@media screen and (max-width: 576px) {
  #sort-filter {
    width: 100%;
  }
}
#sort-filter option {
  text-transform: uppercase;
  padding-bottom: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
}

select#format-filter option:nth-child(1):hover {
  background-color: red !important;
}

@keyframes fadeInUp {
  from {
    transform: translateY(-30px); /* Anciennement translate3d(0, 30px, 0); */
  }
  to {
    transform: translateY(0); /* Anciennement translate3d(0, 0, 0); */
    opacity: 1;
  }
}
@keyframes fadeInDown {
  from {
    transform: translateY(0); /* Anciennement translate3d(0, 0, 0); */
    opacity: 1;
  }
  to {
    transform: translateY(20px); /* Anciennement translate3d(0, 20px, 0); */
    opacity: 0;
  }
}
.container-filtre {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 80px;
}

#filter {
  width: 100%;
  display: flex;
  gap: 15px;
}
#filter .cat-format {
  width: 50%;
  display: flex;
  justify-content: space-between;
  gap: 5px;
}
#filter .flexRow {
  display: flex;
  justify-content: end;
  width: 50%;
}

.select-cat {
  width: 25%;
}
.select-cat .select-btn {
  position: relative;
  display: flex;
  width: 100%;
  height: 35px;
  background: #fff;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 8px;
  border: 2px solid #D8D8D8;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
}
.select-cat .select-btn:hover {
  border: 2px solid blue;
}
.select-cat .list {
  display: none;
  position: absolute;
  width: 250px;
  overflow-y: auto;
  max-height: 295px;
  margin: 0;
  padding-top: 50px;
  padding-left: 0;
  z-index: 999;
  background-color: white;
  border-radius: 0 0 8px 8px;
  animation: fadeInDown 3s ease-in-out;
}
.select-cat .list .option {
  padding-bottom: 10px;
  list-style: none;
  margin: 0;
  padding-left: 15px;
  padding-top: 10px;
}
.select-cat .list .option:hover {
  background-color: red;
  cursor: pointer;
}

.chevron-down {
  transition: 0.3s;
  height: 25px;
}

.select-cat.active .select-btn img {
  transform: rotate(-180deg);
}
.select-cat.active .list {
  display: block;
  opacity: 0;
  z-index: 10;
  animation: fadeInUp 2s forwards;
}

/* $color_1: #333;

@keyframes fadeInUp {
	from {
		transform: translate3d(0, 30px, 0);
	}
	to {
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
}
@keyframes fadeInDown {
	from {
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
	to {
		transform: translate3d(0, 20px, 0);
		opacity: 0;
	}
}
.select-cat {
	max-width: 230px;
	.select-btn {
		display: flex;
		height: 35px;
		background: #fff;
		padding: 20px;
		border-radius: 8px;
		align-items: center;
		cursor: pointer;
		justify-content: space-between;
	}
	.list {
		position: absolute;
		width: 230px;
		overflow-y: auto;
		max-height: 295px;
		border-radius: 8px;
		background: #fff;
		animation-name: fadeInDown;
		-webkit-animation-name: fadeInDown;
		animation-duration: 0.35s;
		animation-fill-mode: both;
		-webkit-animation-duration: 0.35s;
		-webkit-animation-fill-mode: both;
		.option {
			display: flex;
			height: 55px;
			cursor: pointer;
			padding: 0 16px;
			align-items: center;
			background: #fff;
			&:hover {
				background: red;
			}
			i {
				font-size: 25px;
				margin-right: 12px;
			}
			.option-text {
				font-size: 18px;
				color: $color_1;
			}
		}
	}
}
.select-btn {
	i {
		font-size: 25px;
		transition: 0.3s;
	}
}
.select-cat.active {
	.select-btn {
		i {
			transform: rotate(-180deg);
		}
	}
	.list {
		display: block;
		opacity: 0;
		z-index: 10;
		animation-name: fadeInUp;
		-webkit-animation-name: fadeInUp;
		animation-duration: 0.4s;
		animation-fill-mode: both;
		-webkit-animation-duration: 0.4s;
		-webkit-animation-fill-mode: both;
	}
} */
@media screen and (max-width: 785px) {
  .burgerMenu {
    width: 50px;
    height: 35px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    right: 0;
    margin-top: 15px;
    margin-right: 50px;
  }
}
.burgerMenu .line {
  width: 80%;
  height: 2px;
  margin-bottom: 10px;
  background-color: black;
  transition: all 0.3s linear;
}

.burgerMenu.active span.l2 {
  opacity: 0;
}
.burgerMenu.active span.l1 {
  transform: rotate(45deg) translate(6px, 11px);
}
.burgerMenu.active span.l3 {
  transform: rotate(-45deg) translate(6px, -11px);
}

.navbar-nav {
  display: flex;
}
@media screen and (max-width: 785px) {
  .navbar-nav {
    display: none;
    flex-direction: column;
    z-index: 999;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: red;
    transition: top 1s ease;
    position: fixed;
    width: 100vw;
    top: 0;
    margin: 0;
    padding: 0;
    padding-top: 130px;
  }
  .navbar-nav.active {
    display: block;
    animation: fadeMenu 3s forwards;
  }
}
@media screen and (max-width: 785px) and (max-width: 785px) {
  .navbar-nav a {
    margin-right: 0 !important;
    padding-bottom: 30px;
    font-size: 40px;
    color: white !important;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
@keyframes fadeMenu {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#lightbox {
  position: fixed; /* fixée et qui prend tout l'écran */
  z-index: 1000; /* Pour être sûr de passer au dessus du reste */
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8); /* noire avec transparence */
  background-size: contain; /* l'image occupe tout l'espace disponible */
}
#lightbox .close {
  position: fixed;
  font-size: 50px;
  color: white;
  right: 20px;
  top: 20px;
  cursor: pointer;
}
#lightbox .prevArrow {
  position: fixed;
  color: white;
  text-transform: none;
  top: 50%;
}
#lightbox .nextArrow {
  position: fixed;
  color: white;
  text-transform: none;
  right: 0;
  top: 50%;
}
#lightbox .lightbox-contain {
  position: fixed;
  width: 50%;
  margin: auto;
  max-width: 1200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#lightbox .lightbox-contain img {
  width: 100%;
  max-width: 100%;
}

:root {
  font-family: "Space Mono", sans-serif;
}

body {
  margin: 0;
  text-transform: uppercase;
}

#navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  margin-top: -8px;
  width: 100%;
}
#navigation #logo {
  height: 13px;
  margin-left: 100px;
}
@media screen and (max-width: 785px) {
  #navigation #logo {
    margin-left: 50px;
    height: 10px;
  }
}
#navigation .navbar-nav {
  list-style: none;
  margin-right: 65px;
}
#navigation a {
  margin-right: 40px;
  text-decoration: none;
  color: black;
}
#navigation a:hover {
  font-weight: bold;
}

/* .menu-full {
    @media screen  and (max-width :785px) {
    display: none; /* menu caché par défaut */
#footer {
  display: flex;
  justify-content: center;
  border-top: solid 1px black;
}
#footer .footerColumn {
  display: flex;
}
@media screen and (max-width: 580px) {
  #footer .footerColumn {
    flex-direction: column;
  }
}
#footer #menu-footer-menu {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
  margin-right: 25px;
}
@media screen and (max-width: 580px) {
  #footer #menu-footer-menu {
    flex-direction: column;
  }
}
#footer #menu-footer-menu li {
  margin: 25px;
  margin-bottom: 10px;
  margin-top: 10px;
}
#footer #menu-footer-menu li a {
  color: black;
  text-decoration: none;
}
#footer .textFooter {
  margin-top: 10px;
}

.banner {
  position: relative;
  text-align: center;
}
.banner img {
  position: relative;
  height: calc(56.25vw - 80px); /* Soustraire la hauteur de l'en-tête */
  width: 100vw;
  object-fit: cover;
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  -webkit-text-stroke: 1px white;
  color: transparent;
  font-style: oblique;
  font-weight: 500;
  width: 100%;
  margin: 0;
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 45px;
  }
}
@media screen and (max-width: 576px) {
  h1 {
    font-size: 35px;
  }
}

/*# sourceMappingURL=main.css.map */
