/* .container-filtre {
	display: flex;

	
margin-left: 100px;
margin-right:100px;
	



.cat-format {
	width: 50%;
	display: flex;
	justify-content: space-between;
	margin-top : 40px;

	#categorie-filter {
width: 50%;
/* border: 1px solid black; */
/* 	}
.select-btn{
border: 2px solid #D8D8D8;
display: flex;
justify-content: space-between;
padding-left: 10px;
padding-bottom: 10px;
padding-top: 10px;
border-radius: 5px;
cursor: pointer;
&:hover {
	border: 2px solid blue;
}
} */

	/* .chevron{
	
		display: flex;
        align-items: flex-end;
		height: 20px;
		padding-right: 10px;
		transition: 0.3s;
	
    }
	}

	
	#categorie-list {
		list-style: none;
		padding: 0;
		margin: 0;
		display: none;
		position: absolute;
		z-index: 999; */
	
	
	/* 	z-index: 10;
		animation: fadeInDown 3s ease-in-out;

	}
		
		

		.option {
			padding-bottom: 10px;
			padding-top: 10px;
			padding-left: 10px;
			cursor: pointer;



			
			&:hover{
				background-color: red;
			} */

		//}
//	}


/* #categorie-filter.active {
	.select-btn {
		img {
			transform: rotate(-180deg);

		}
	}
	#categorie-list{
		display: block;
		opacity: 0;
		z-index: 10;
		animation: fadeInUp 2s forwards;
	}
}
 @keyframes fadeInDown {
	from {
		transform: translateY(0);
		/* Anciennement translate3d(0, 0, 0); */
	/* 	opacity: 1;
	} */

//	to {
//	transform: translateY(20px);
		/* Anciennement translate3d(0, 20px, 0); */
//		opacity: 0;
//	}

//}
//@keyframes fadeInUp {
//	from {
//		transform: translateY(-30px);
		/* Anciennement translate3d(0, 30px, 0); */
//	}

//	to {
//		transform: translateY(0);
		/* Anciennement translate3d(0, 0, 0); */
//		opacity: 1; */
//	}
//}