#container-filter{
	display: flex;
	
	width: 100%;
	

	.cat-format{
		display: flex;
		width: 50%;
		justify-content: space-between;
		@media screen and (max-width : 576px) {
			display: block;
			width: 100%;
			padding-bottom: 15px;	
		}
	
	}

	#categorie-filter {
		width: 50%;
		/* border: 1px solid black; */
			 }
		.select-btn{
		border: 2px solid #D8D8D8;
		display: flex;
		justify-content: space-between;
		padding-left: 10px;
		padding-bottom: 10px;
		padding-top: 10px;
		border-radius: 5px;
		cursor: pointer;
		&:hover {
			border: 2px solid blue;
		}
		} 
		
			.chevron{
			
				display: flex;
				align-items: flex-end;
				height: 20px;
				padding-right: 10px;
				transition: 0.6s;
			
			}
			}
		
			
			#categorie-list {
				list-style: none;
				padding: 0;
				margin: 0;
				display: none;
				
				z-index: 999; 
			border-radius: 4px;
			width: 100%;
			border-radius: 4px;
				animation: fadeInDown 3s ease-in-out;
		
			}
				
				
		
				.option {
					padding-bottom: 10px;
					padding-top: 10px;
					padding-left: 10px;
					cursor: pointer;
		
		
		
					
					&:hover{
						background-color: red;
					} 
		
				}
		
		
		
		 #categorie-filter.active {
			.select-btn {
				img {
					transform: rotate(180deg);
		
				}
			}
			#categorie-list{
				display: block;
				opacity: 0;
		
				animation: fadeInUp 2s forwards;
				
			}
		}
		 @keyframes fadeInDown {
			from {
				transform: translateY(0);
				
				 opacity: 1;
			} 
		
			to {
			transform: translateY(20px);
				
				opacity: 0;
			}
		
		}
		@keyframes fadeInUp {
			from {
				transform: translateY(-30px);
			
			}
		
			to {
				transform: translateY(0);
				
				opacity: 1; 
			}
		}


//btn format




#format-filter {
	width: 50%;
	/* border: 1px solid black; */
		 }
	.btn-format{
	border: 2px solid #D8D8D8;
	display: flex;
	justify-content: space-between;
	padding-left: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
	border-radius: 5px;
	cursor: pointer;
	&:hover {
		border: 2px solid blue;
	}
	} 
	
		.chevron{
		
			display: flex;
			align-items: flex-end;
			height: 20px;
			padding-right: 10px;
			transition: 0.6s;
		
		}
		
	
		
		#format-list {
			list-style: none;
			padding: 0;
			margin: 0;
			display: none;
			
			z-index: 999; 
		border-radius: 4px;
		width: 100%;
		border-radius: 4px;
			animation: fadeDown 3s ease-in-out;
	
		}
			
			
	
			.options {
				padding-bottom: 10px;
				padding-top: 10px;
				padding-left: 10px;
				cursor: pointer;
	

				
				&:hover{
					background-color: red;
				} 
	
			}
	
	
	
	 #format-filter.active {
		.btn-format {
			img {
				transform: rotate(180deg);
	
			}
		}
		#format-list{
			display: block;
			opacity: 0;
	
			animation: fadeUp 2s forwards;
			
		}
	}
	 @keyframes fadeDown {
		from {
			transform: translateY(0);
			
			 opacity: 1;
		} 
	
		to {
		transform: translateY(20px);
			
			opacity: 0;
		}
	
	}
	@keyframes fadeUp {
		from {
			transform: translateY(-30px);
		
		}
	
		to {
			transform: translateY(0);
			
			opacity: 1; 
		}
	}

	


/* 


@keyframes fadeInUp {
  from {
    transform: translateY(-30px); /* Anciennement translate3d(0, 30px, 0); */
 // }
 // to {
   // transform: translateY(0); /* Anciennement translate3d(0, 0, 0); */
   // opacity: 1;
 // }
//}

/* 
@keyframes fadeInDown {
  from {
    transform: translateY(0); /* Anciennement translate3d(0, 0, 0); */
 //   opacity: 1;
 // }
 // to {
   // transform: translateY(20px); /* Anciennement translate3d(0, 20px, 0); */
   // opacity: 0;
 // }

//} 

 .container-filtre{
	margin-left: 100px;
	margin-right: 100px;
	
	margin-top: 80px;
	
}
/*
#filter{
width: 100%;
display: flex;
gap:15px;

	.cat-format{
		width: 50%;
		display: flex;
		justify-content: space-between;
		gap: 5px;
		
		
	}

	.flexRow{
		display: flex;
		justify-content: end;
		width: 50%;
		
	}
	
}

.select-cat 
{
//   max-width: 25%;

width: 25%;
  .select-btn {
    position: relative;
    display: flex;
	width: 100%;
    height: 35px;
    background: #fff;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 8px;
    border: 2px solid #D8D8D8;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
	&:hover{
		border: 2px solid blue;
	}
  }

  .list {
    display: none;
    position: absolute;
    width: 250px;
    overflow-y: auto;
    max-height: 295px;
    margin: 0;
    padding-top: 50px;
    padding-left: 0;
    z-index: 999;
    background-color: white;
    border-radius: 0 0 8px 8px;
    animation: fadeInDown 3s ease-in-out;
   

    .option {
      padding-bottom: 10px;
      list-style: none;
      margin: 0;
      padding-left: 15px;
      padding-top: 10px;

      &:hover {
        background-color: red;
        cursor: pointer;
      }
    }
  }
}


.chevron-down {
  transition: 0.3s;
  height: 25px;
}

.select-cat.active {
  .select-btn {
    img {
      transform: rotate(-180deg);
	 
    }
  }

  .list {
    display: block;
    opacity: 0;
    z-index: 10;
    animation: fadeInUp 2s forwards;

  }
} */



















/* $color_1: #333;

@keyframes fadeInUp {
	from {
		transform: translate3d(0, 30px, 0);
	}
	to {
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
}
@keyframes fadeInDown {
	from {
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
	to {
		transform: translate3d(0, 20px, 0);
		opacity: 0;
	}
}
.select-cat {
	max-width: 230px;
	.select-btn {
		display: flex;
		height: 35px;
		background: #fff;
		padding: 20px;
		border-radius: 8px;
		align-items: center;
		cursor: pointer;
		justify-content: space-between;
	}
	.list {
		position: absolute;
		width: 230px;
		overflow-y: auto;
		max-height: 295px;
		border-radius: 8px;
		background: #fff;
		animation-name: fadeInDown;
		-webkit-animation-name: fadeInDown;
		animation-duration: 0.35s;
		animation-fill-mode: both;
		-webkit-animation-duration: 0.35s;
		-webkit-animation-fill-mode: both;
		.option {
			display: flex;
			height: 55px;
			cursor: pointer;
			padding: 0 16px;
			align-items: center;
			background: #fff;
			&:hover {
				background: red;
			}
			i {
				font-size: 25px;
				margin-right: 12px;
			}
			.option-text {
				font-size: 18px;
				color: $color_1;
			}
		}
	}
}
.select-btn {
	i {
		font-size: 25px;
		transition: 0.3s;
	}
}
.select-cat.active {
	.select-btn {
		i {
			transform: rotate(-180deg);
		}
	}
	.list {
		display: block;
		opacity: 0;
		z-index: 10;
		animation-name: fadeInUp;
		-webkit-animation-name: fadeInUp;
		animation-duration: 0.4s;
		animation-fill-mode: both;
		-webkit-animation-duration: 0.4s;
		-webkit-animation-fill-mode: both;
	}
} */









