@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@import 'modale';
@import 'single';
@import 'navigation';
@import 'home';
@import 'overlay';

:root {
    font-family: 'Space Mono', sans-serif;
}

body {
    margin: 0;
    text-transform: uppercase;
}


#navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    margin-top: -8px;
    width: 100%;

    #logo {
        height: 13px;
        margin-left: 100px;
    }

    .burgerMenu {
        width: 50px;
        height: 50px;
        display: flex;
        cursor: pointer;

        .line {
            width: 100%;
            height: 1.5px;
            margin-bottom: 5px;
            background-color: black;
            // créer une animation fluide lorsque'on clique sur l'icone burger
            transition: all 0.3s linear;
        }
    }
}





.navbar-nav {
    display: flex;
    list-style: none;
    margin-right: 65px;

    @media screen and (max-width :785px) {


        flex-direction: column;
        z-index: 10;




    }

}



a {
    margin-right: 40px;
    text-decoration: none;
    color: black;

    @media screen and (max-width :785px) {

        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

/* .menu-full {
    @media screen  and (max-width :785px) {
    display: none; /* menu caché par défaut */
//  text-align: center;
// padding-top: 25px;
// background: red;
// height: 100vh;
// overflow: hidden;
// }
//} */


#footer {
    display: flex;
    justify-content: center;
    border-top: solid 1px black;

    .footerColumn {
        display: flex;

        @media screen and (max-width:580px) {
            flex-direction: column;
        }
    }



    #menu-footer-menu {
        display: flex;
        justify-content: center;
        list-style: none;
        margin: 0;
        padding: 0;
        align-items: center;
        margin-right: 25px;

        @media screen and (max-width:580px) {

            flex-direction: column;
        }



        li {
            margin: 25px;
            margin-bottom: 10px;
            margin-top: 10px;

            a {
                color: black;
                text-decoration: none;

            }
        }

    }

    .textFooter {
        margin-top: 10px;

    }


}

.banner {

    text-align: center;

    img {
        position: relative;
        height: 100vh;
      
        width: 100%;

    }

    h1 {


        //transform: translateX(-50%);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 100px;
        -webkit-text-stroke: 1px white;
        color: transparent;
        font-style: oblique;
        font-weight: 500;










    }
}