/* #overlay{
    position: absolute;
    top:0;
    right:0;
    left:0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    background: black;
    cursor: pointer;
} */

/* #overlay {
    position: relative;

    .overlay-link {
        display: block; /* Assurez-vous que le lien occupe tout l'espace du conteneur */
       // position: relative; /* Position relative pour le z-index */
       // z-index: 1; /* Placez-le au-dessus de l'overlay-effect */
    

        //&.hover{
     //       opacity: 1; /* Rendre l'overlay visible au survol du lien */
       // }

    //    .overlay-effect {
      //      position: absolute;
        //    top: 0;
          //  left: 0;
           // width: 100%;
           // height: 100%;
          //  background-color: rgba(0, 0, 0, 0.7); /* Noir semi-transparent */
        //    opacity: 0; /* Initialement invisible */
      //      transition: opacity 0.3s ease; /* Animation de transition */
    //    }

  //  }
//} */





#overlay {
	position: relative;
   
    
}

.overlay-effect {  
    overflow: hidden; /* Ajout de cette propriété pour empêcher le débordement */
	position: absolute;
	top: 0;
	left: 0;
    bottom: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	opacity: 0;
	transition: opacity 0.3s ease;
}
.overlay-link {
    display: block;
	position: relative;
	z-index: 1;
	&:hover {
		.overlay-effect {
			opacity: 1;
		}
	}
    .fa-light {
        color: white;
        font-size: 100px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
      }
}


