
.post-content{
   display: flex;
   justify-content: space-between;
   margin-top: 15px;
    

 width: 100%;


          .post-meta{
            display: flex;
            flex-direction: column;
            justify-content: end;
            width: 50%;
            margin-left: 100px;
            margin-bottom: 6px;
            margin-right: 16px;
            
            border-bottom: 1px solid black;
            
            
                    .meta{
                        padding-bottom: 15px;
                    }
                    .date{
                        margin-bottom: 20px;
                    }
                   
                }   
   .post-title {
    font-size: 40px;
    font-style: italic;
    margin-bottom: 6px ;

    
  

   
   
   }
  


}

.container-img{
margin-right: 100px;
  width: 50%;
    
   
.attachment-large {
    width: 100%;
}
}


.containerBtn{
     display: flex;
    justify-content: space-between;
  width: 100%;
padding-right: 0;
.contact_btn{
    margin-top: -40px;
    display: flex;
    align-items: center;
   justify-content: space-between;
    margin-left : 100px;
    


    .txt-contact{
        text-transform: none;
    }

    form
    input{
        padding: 10px 80px;
        cursor: pointer;
        margin-left: 135px;
        
    }
}

.post-carousel{
    width: 80px;
    margin-right: 100px;
}
  
    .carousel-inner{
        width: 50%;

    }
.attachment-thumbnail {
    max-width: none;
    width: 80px;
    height: auto;
}

.carousel-navigation{
    margin-top: -10px;
    display: flex;
    justify-content: space-between;

    .next-arrow{
        font-size: 30px;
    }
    .prev-arrow{
        font-size: 30px;
    }
}
    
}

